## R Data Type

### vectors

In [1]:
w <- c(1, 3, 5, 7, 9)
x <- c(1.1, 2.2 ,5.3, -2.1, 4.0) 
y <- c("cat","dog","bird") 
z <- c(TRUE,TRUE,TRUE,FALSE,TRUE,FALSE)

In [2]:
print(w)
print(x)
print(y)
print(z)

[1] 1 3 5 7 9
[1]  1.1  2.2  5.3 -2.1  4.0
[1] "cat"  "dog"  "bird"
[1]  TRUE  TRUE  TRUE FALSE  TRUE FALSE

In [3]:
# 2nd and 4th elements of vector
x[c(2, 5)]

[1] 2.2 4.0

In [4]:
# Get ith element
x[01] # R indices start on 1
x[-5] # Negative index would strip the element whose position has the same absolute value as the negative index
x[10] # If an index is out-of-range, the missing value will be reported as NA

[1] 1.1

[1]  1.1  2.2  5.3 -2.1

[1] NA

In [5]:
# Other uses of c
c(w, x) #concatenate two vectors
c(100, x) #vector to a single element (or vice versa)
c(x, '100') #beware of concatenating a different mode

 [1]  1.0  3.0  5.0  7.0  9.0  1.1  2.2  5.3 -2.1  4.0

[1] 100.0   1.1   2.2   5.3  -2.1   4.0

[1] "1.1"  "2.2"  "5.3"  "-2.1" "4"    "100"

In [6]:
# Other ways of creating a vector
m <- (1:10)
n <- seq(0.5, 10, 0.5)
m
n

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  0.5  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  5.5  6.0  6.5  7.0  7.5
[16]  8.0  8.5  9.0  9.5 10.0

In [7]:
#Please check the help for c() and seq function (in R: ?c and ?seq)

### Array

In [8]:
# matrix is a 2-d array
# generates 4 x 5 numeric matrix 
matrix_a <- matrix(1:20, nrow=4, ncol=5, byrow=TRUE)
matrix_a

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20

In [9]:
# another example
cells <- c(1,3,9,12)
rnames <- c("Row1", "Row2")
cnames <- c("Col1", "Col2") 
matrix_b <- matrix(cells, nrow=2, ncol=2, byrow=FALSE,
dimnames <- list(rnames, cnames))
matrix_b

     Col1 Col2
Row1 1     9
Row2 3    12

In [10]:
matrix_a[,4] # 4th column of matrix
matrix_a[3,] # 3rd row of matrix 
matrix_a[2:4,1:3] # rows 2,3,4 of columns 1,2,3

[1]  4  9 14 19

[1] 11 12 13 14 15

     [,1] [,2] [,3]
[1,]  6    7    8
[2,] 11   12   13
[3,] 16   17   18

In [11]:
# higher dimension array
name.x <- c('x1', 'x2')
name.y <- c('y1', 'y2')
name.z <- c('z1', 'z2')
array_3d <- array((1:16), dim=c(2,2,2), dimnames=list(name.x, name.y, name.z))

In [12]:
print(array_3d)

, , z1

   y1 y2
x1  1  3
x2  2  4

, , z2

   y1 y2
x1  5  7
x2  6  8

In [13]:
# check if array
is.array(w) # w is a vector
is.array(matrix_b) # matrix_b is matrix
is.array(as.array(w))

[1] FALSE

[1] TRUE

[1] TRUE

## Data Frames

In [14]:
d <- c(1, 2, 3, 4)
e <- c('a', 'b', 'c', 'd')
f <- c(TRUE, FALSE, TRUE, FALSE)
df <- data.frame(d, e, f)

In [15]:
df

  d e f
1 1 a  TRUE
2 2 b FALSE
3 3 c  TRUE
4 4 d FALSE

In [16]:
names(df) <- c("id","letter","favorite") # rename columns
#colnames(df) <-  c("id","letter","favorite") # rename columns (another way)
colnames(df) # get names of columns
#names(df) # get names of columns (another way)
df

[1] "id"       "letter"   "favorite"

  id letter favorite
1 1  a       TRUE
2 2  b      FALSE
3 3  c       TRUE
4 4  d      FALSE

In [17]:
df[2:3] # columns 2 and 3 of the data frame
df[c("id","favorite")] # columns id and favorite of the data frame
df$id # column id of the data frame

  letter favorite
1 a       TRUE
2 b      FALSE
3 c       TRUE
4 d      FALSE

  id favorite
1 1   TRUE
2 2  FALSE
3 3   TRUE
4 4  FALSE

[1] 1 2 3 4

## List

In [18]:
f <- list(name='Ada', age=1, fav_matrix=matrix_b, weight=20.3)
g <- list(name='Gen', age=28, fav_matrix=NULL)

In [19]:
f

$name
[1] "Ada"

$age
[1] 1

$fav_matrix
     Col1 Col2
Row1    1    9
Row2    3   12

$weight
[1] 20.3

In [20]:
# List of list
h <- list(f, g, 'a', 1)

In [21]:
# accessing list elements
h[[2]][[1]]
h[c(2, 4)][[1]][[2]]

[1] "Gen"

[1] 28

In [22]:
# You can name each elements of a list (can work similarly as dict in Python)
q <- list(ww=w, xx=x)
q[['x']]
q$x

NULL

[1]  1.1  2.2  5.3 -2.1  4.0

In [23]:
#attaching a list to the R search path, will enable access its members without explicitly mentioning the list
attach(q)
ww
#It should to be detached for cleanup.
detach(q)

[1] 1 3 5 7 9

## Useful functions

In [24]:
# number of elements or components
length(w)

[1] 5

In [25]:
# structure of an object 
str(matrix_a) 
str(w)
str(1)
str('a')

 int [1:4, 1:5] 1 6 11 16 2 7 12 17 3 8 ...
 num [1:5] 1 3 5 7 9
 num 1
 chr "a"

In [26]:
# class or type of an object
class(matrix_a)  
class(x)
class(y)
class(z)
class(df)

[1] "matrix"

[1] "numeric"

[1] "character"

[1] "logical"

[1] "data.frame"

In [27]:
# fix(w) #edit in place
#new_w <- edit(w) # edit copy and save as newobject 
#rm(w)  # delete an object
ls() #list current objects

 [1] "array_3d" "cells"    "cnames"   "d"        "df"       "dimnames"
 [7] "e"        "f"        "g"        "h"        "m"        "matrix_a"
[13] "matrix_b" "n"        "name.x"   "name.y"   "name.z"   "q"
[19] "rnames"   "w"        "x"        "y"        "z"

In [28]:
#cbind(object, object, ...) # combine objects as columns
#rbind(object, object, ...) # combine objects as rows