In [1]:
#https://github.com/rstats-db/RMySQL

In [2]:
#install.packages("RMySQL")
#install.packages("devtools")
#devtools::install_github("rstats-db/DBI")
#devtools::install_github("rstats-db/RMySQL")

In [3]:
#library(DBI)
library(RMySQL)
# Connect to my-db as defined in ~/.my.cnf
con <- dbConnect(RMySQL::MySQL(), group="sem_analyst")

In [4]:
res <- dbSendQuery(con, 
       "select * from t_ga_sampled_sessions_summarized where country='AQ'")

In [5]:
df <- dbFetch(res)

In [6]:
head(df)[,]

  id   activity_date country channel   sessions
1 2233 2017-01-01    AQ      direct    18
2 2234 2017-01-01    AQ      email     95
3 2235 2017-01-01    AQ      publisher  1
4 2236 2017-01-01    AQ      referral  15
5 2237 2017-01-01    AQ      sem        2
6 2238 2017-01-01    AQ      seo       95

In [7]:
#dbListTables(con)

In [8]:
# Disconnect from the database
# dbDisconnect(con)